comment "use 3.5 inch st7796 SPI screen"
config LCKFB_3_5_COLOR_SCREEN
    bool "Use 3.5 inch color screen"
    select AIC_USING_QSPI3
    default n
    help
        More information is available at: https://wiki.lckfb.com/